In [15]:
import pandas as pd

In [16]:
shopify_shoe_data = pd.read_csv('2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')

In [17]:
shopify_shoe_data.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [18]:
shopify_shoe_data.order_amount.describe()

count      5000.000000
mean       3145.128000
std       41282.539349
min          90.000000
25%         163.000000
50%         284.000000
75%         390.000000
max      704000.000000
Name: order_amount, dtype: float64

In [19]:
shopify_shoe_data.groupby('order_amount')['order_amount'].count()

order_amount
90        18
94        25
101       15
111       16
112       48
114       27
116       23
117       29
118       43
122       21
127       22
128       30
129       50
130       52
131       35
132       23
133       56
134       29
136       38
138       25
140        8
142       72
144       19
145       37
146       28
147       18
148       31
149       23
153       87
154       16
          ..
790        2
800        3
804        2
805        2
810        1
815        2
816        1
830        3
845        1
865        2
880        3
885        2
890        1
920        1
935        3
948        1
960        2
965        1
980        1
1056       3
1064       1
1086       1
1408       2
1760       1
25725     19
51450     16
77175      9
102900     1
154350     1
704000    17
Name: order_amount, Length: 258, dtype: int64

In [20]:
### As you can see, there are 63 orders which have an order_amount of 25725 or greater, thus these orders dramatically
### increase the Average Order Value. A better way to evaluate this data is adding a column called ‘price_per_item’
### where for each row we take the order_amount / total_items.

In [21]:
price_per_item = [amount/item for (amount, item) in zip(list(shopify_shoe_data['order_amount']),list(shopify_shoe_data['total_items']))]

In [22]:
shopify_shoe_data['price_per_item'] = price_per_item

In [23]:
shopify_shoe_data.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at,price_per_item
0,1,53,746,224,2,cash,2017-03-13 12:36:56,112.0
1,2,92,925,90,1,cash,2017-03-03 17:38:52,90.0
2,3,44,861,144,1,cash,2017-03-14 4:23:56,144.0
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37,156.0
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11,156.0

In [24]:
shopify_shoe_data.price_per_item.describe()

count     5000.000000
mean       387.742800
std       2441.963725
min         90.000000
25%        133.000000
50%        153.000000
75%        169.000000
max      25725.000000
Name: price_per_item, dtype: float64

In [25]:
### Now we have a more appropriate Average Value of 387.74 which fits in with the relative cost of shoes, although
### it is on the expensive side.

In [26]:
### Let's calucate the median of the order_amount and report this metric

In [27]:
shopify_shoe_data.order_amount.median()

284.0